/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.inlineList {
	margin: 0;
	margin-left: 2em;
	padding-left: 0;
}

.inlineList li {
	display: inline;
}

.inlineList li::after {
	content: ", ";
}

.inlineList li:last-child::after {
	content: none;
}

videogular div.my-layer {
	background-color: #FFF;
	width: 80%;
	float: left;
	position: absolute;
	display: block;
	top: 5%;
	left: 10%;
	border-radius: 10px;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.emptyMessage {
	text-align: center;
	color: #777;
}

.accordion-toggle .btn-group.pull-right {
	position: relative;
	top: -6px;
}
