.navbar-author {
    color: #FFFFFF; 
    background-color: #505A5A;
}

/* Layout */

/*@top-padding: 55px; */

body {
	padding-top: 55px; /*@top-padding*/
}

.column {
	position: fixed;
	top: 55px;  /*@top-padding*/
	bottom: 0;

	width: 50%;

	padding: 0 15px 0 15px;

	overflow-y: auto;
}
	.column.left  { left:  0; }
	.column.right { right: 0; }

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.inlineList {
	margin: 0;
	margin-left: 2em;
	padding-left: 0;
}

.inlineList li {
	display: inline;
}

.inlineList li::after {
	content: ", ";
}

.inlineList li:last-child::after {
	content: none;
}

videogular div.my-layer {
	background-color: #FFF;
	width: 80%;
	float: left;
	position: absolute;
	display: block;
	top: 5%;
	left: 10%;
	border-radius: 10px;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.emptyMessage {
	text-align: center;
	color: #005084;
}

.accordion-toggle:focus {
	border: 1px solid black;
	padding: 3px;
	border-radius: 3px;
}

.accordion-toggle .btn-group.pull-right {
	position: relative;
	top: -6px;
}
