<div>
	<strong>Video URL:</strong> https://www.youtube.com/watch?v=EIyixC9NsLI
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div ng-controller="AuthoringVideoCtrl">
				<videogular vg-theme="config.theme.url">
					<vg-video vg-src="config.sources"></vg-video>
					<vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime">
						<vg-play-pause-button></vg-play-pause-button>
						<vg-scrubBar>
							<vg-scrubBarCurrentTime></vg-scrubBarCurrentTime>
							<vg-cuepoints vg-cuepoints-config="config.plugins.cuepoints" vg-cuepoints-theme="config.plugins.cuepoints.theme.url"></vg-cuepoints>
						</vg-scrubBar>
						<vg-timedisplay aria-label="Time left">{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
						<vg-volume>
							<vg-mutebutton></vg-mutebutton>
							<vg-volumebar></vg-volumebar>
						</vg-volume>
						<vg-fullscreenButton></vg-fullscreenButton>
					</vg-controls>
				</videogular>
			</div>
			<div ng-controller="AccordionCtrl">
  				<accordion>
    				<accordion-group heading="Video Default Options">
						<!--default options -->
						<accordion>
							<accordion-group heading="Quizzes" is-open="status.isFirstOpen">
      							<div class="checkbox">
    								<label>
      									<input type="checkbox"> Question can always be skipped </input>
    								</label>
								</div>
								<div class="checkbox">
									<label>
      									<input type="checkbox"> Question can be skipped if answered correctly </input>
    								</label>
  								</div>
								<div class="checkbox">
									<label>
      									<input type="checkbox"> If anwered incorrectly return to </input>
    								</label>
  								</div>
								<div class="checkbox">
									<label>
      									<input type="checkbox"> Show correct answer once submitted </input>
    								</label>
  								</div>
								<div class="checkbox">
									<label>
      									<input type="checkbox"> Notify user if they try to skip past a question </input>
    								</label>
  								</div>
    						</accordion-group>
							<accordion-group heading="Polls">
      							<div class="checkbox">
    								<label>
      									<input type="checkbox"> Poll can always be skipped </input>
    								</label>
								</div>
								Show responses:
								<form>
									<input type="radio" name="responses" value="afterEach">After each poll</input><br/>
									<input type="radio" name="responses" value="afterSet">After each question set</input>
								</form> 
    						</accordion-group>
							<button type="button" class="btn btn-default">Save Changes</button>
    					</accordion>
						<!--defaultOptions end -->
					</accordion-group>
  				</accordion>
			</div>
			<button type="button" class="btn btn-default btn-lg">Export Quiz</button>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn btn-default">Change Video</button>
			<button type="button" class="btn btn-default">Add Question Set</button>
			<div class="panel">
				<strong>Question set start time:</strong>
				<table>
					<tbody>
						<tr class="text-center">
							<td><a ng-click="incrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
							<td>&nbsp;</td>
							<td><a ng-click="incrementSeconds()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
							<td>&nbsp;</td>
							<td><a ng-click="incrementMilliseconds()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
						</tr>
						<tr>
							<td style="width:50px;" class="form-group" ng-class="{'has-error': invalidMinutes}">
								<input type="text" ng-model="minutes" ng-change="updateHours()" class="form-control text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
							</td>
							<td>:</td>
							<td style="width:50px;" class="form-group" ng-class="{'has-error': invalidSeconds}">
								<input type="text" ng-model="seconds" ng-change="updateSeconds()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
							</td>
							<td>.</td>
							<td style="width:50px;" class="form-group" ng-class="{'has-error': invalidMilliseconds}">
								<input type="text" ng-model="milliseconds" ng-change="updateMilliseconds()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
							</td>	
						</tr>
						<tr class="text-center">
							<td><a ng-click="decrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
							<td>&nbsp;</td>
							<td><a ng-click="decrementSeconds()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
							<td>&nbsp;</td>
							<td><a ng-click="decrementMilliseconds()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-default">Add New Poll</button>
				<button type="button" class="btn btn-default">Add New Question</button>
    			<div ng-controller="AccordionCtrl">
  					<accordion>
							<accordion-group heading="Question Set Default Options">
								<!--default options -->
								<accordion>
								<accordion-group heading="Quizzes" is-open="status.isFirstOpen">
      								<div class="checkbox">
    									<label>
      										<input type="checkbox"> Question can always be skipped </input>
    									</label>
									</div>
									<div class="checkbox">
										<label>
      										<input type="checkbox"> Question can be skipped if answered correctly </input>
    									</label>
  									</div>
									<div class="checkbox">
										<label>
      										<input type="checkbox"> If anwered incorrectly return to </input>
    									</label>
  									</div>
									<div class="checkbox">
										<label>
      										<input type="checkbox"> Show correct answer once submitted </input>
    									</label>
  									</div>
									<div class="checkbox">
										<label>
      										<input type="checkbox"> Notify user if they try to skip past a question </input>
    									</label>
  									</div>
    							</accordion-group>
								<accordion-group heading="Polls">
      								<div class="checkbox">
    									<label>
      										<input type="checkbox"> Poll can always be skipped </input>
    									</label>
									</div>
									Show responses:
									<form>
										<input type="radio" name="responses" value="afterEach">After each poll</input><br/>
										<input type="radio" name="responses" value="afterSet">After each question set</input>
									</form> 
    							</accordion-group>
								<button type="button" class="btn btn-default">Save Changes</button>
    						</accordion>
							<!--defaultOptions end -->
						</accordion-group>
						<accordion-group>
							 <accordion-heading>
            					Question 1 
								<button type="button" class="btn btn-default">Move Up</button> <button type="button" class="btn btn-default">Move Down</button>
        					</accordion-heading>
							<label for="question1">Question:</label>
    						<input type="text" class="form-control" id="question1" placeholder="Enter question">
							<label for="type1">Question type:</label>
							<select class="form-control" id="type1">
  								<option>Single Choice Question</option>
  								<option>Multiple Choice Question</option>
  								<option>Rating</option>
  								<option>Matching Pairs</option>
							</select>
						</accordion-group>
  					</accordion>
				</div>
			</div>
		</div>
	</div>
</div>
