<accordion-group>
	<accordion-heading>
		Default Video Options
	</accordion-heading>
	<accordion>
		<accordion-group heading="Quizzes" is-open="status.isFirstOpen">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="data.global.quiz.alwaysSkippable" />
					Question can always be skipped
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="data.global.quiz.skippableOnceCorrect" />
					Question can be skipped if answered correctly
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="data.global.quiz.showCorrectAnswerWhenSubmitted"/>
					Show correct answer once submitted
				</label>
			</div>
		</accordion-group>
		<accordion-group heading="Polls">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="data.global.polls.pollsAlwaysSkippable" />
					Poll can always be skipped
				</label>
			</div>
			Show responses:
			<div class="radio">
				<label>
					<input type="radio" name="responses" ng-model="data.global.polls.showResponsesWhen" value="afterEach" checked />
					After each poll
				</label>
				<br/>
				<label>
					<input type="radio" name="responses" ng-model="data.global.polls.showResponsesWhen" value="afterSet" />
					After each question set
				</label>
			</div>
		</accordion-group>
	</accordion>
</accordion-group>
