<div ng-controller="SetAddCtrl">
	<accordion-group>
		<accordion-heading>
		   	{{heading}}
   		</accordion-heading>
		<strong>Question set start time:</strong>
		<time-choose></time-choose>	
		<accordion>
			<!-- hidden for the moment
			<default-options-block heading="Question Set Default Options"></default-options-block>
			-->
			<div ng-controller="SectionAddCtrl">
				<button type="button" class="btn btn-default" ng-click=addPoll()>Add New Poll</button>
				<button type="button" class="btn btn-default" ng-click=addQuestion()>Add New Question</button>
				<div class="panel panel-default">
					<div class="panel panel-body">
						<question-block heading="{{question.name}}" type="{{question.type}}" ng-repeat="question in questions"> </question-block>
					</div>	
				</div>
			</div>
		</accordion>
	</accordion-group>
</div>
