<div>
<accordion-group role="tab" aria-labelledby="headingName">
	<accordion-heading>
		<span role="heading" id="headingName">{{heading}}: {{questionData.title}}</span>
		<div class="btn-group pull-right">
			<button class="btn btn-default btn-sm" role="button" aria-label="Move Up" type="button" ng-click="moveQuestionUp($event,{name: heading, type: type})"><span class="glyphicon glyphicon-arrow-up"></span></button>
			<button class="btn btn-default btn-sm" role="button" aria-label="Move Down" type="button" ng-click="moveQuestionDown($event,{name: heading, type: type})"><span class="glyphicon glyphicon-arrow-down"></span></button>
			<button class="btn btn-default btn-sm" role="button" aria-label="Delete" type="button" ng-click="removeQuestion($event,{name: heading, type: type})"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
    </accordion-heading>

	<label for="question">Question:</label>
   	<input type="text" class="form-control" id="question" placeholder="Enter question" ng-model="questionData.title" />
	<label for="type1">Type:</label>
	<select class="form-control" ng-model="questionData.type" id="type1">
   		<option value=''>- Select a question type -</option>
  		<option>Multiple choice</option>
  		<option>Rating</option>
		<option>Range selector</option>
		<option>Text</option>
	</select>
	<div ng-switch on="questionData.type">
		<multiple-choice single="true" ng-switch-when="Single Choice Question"></multiple-choice>
		<multiple-choice ng-switch-when="Multiple choice"></multiple-choice>
		<stars ng-switch-when="Rating"></stars>
		<range ng-switch-when="Range selector"></range>
		<text ng-switch-when="Text"></text>
	</div>
	<question-options-block heading="Options"></question-options-block>

</accordion-group>
</div>
