<div role="heading"><b>{{heading}}:</b></div>
<div class="checkbox" role="checkbox">
	<label>
		<input type="checkbox" ng-model="options.questionCanBeSkipped" />
		Question can be skipped
	</label>
</div>
<div class="checkbox" role="checkbox">
	<label>
		<input type="checkbox" ng-model="options.ifIncorrectReturnToTime" />
		If answered incorrectly return to
		<input type="text" aria-label="minutes"/>:<input type="text" aria-label="seconds"/>.<input type="text" aria-label="milliseconds"/>
	</label>
</div>

<div class="checkbox" role="checkbox">
	<label>
		<input type="checkbox" ng-model="options.recordResponses" />
		Record responses
	</label>
</div>

<div ng-show="options.recordResponses">
	Show responses:
	<div class="radio">
		<label>
			<input type="radio" name="responses-qs-{{questionSetId}}" ng-model="options.showResponseWhen" value="afterEach" checked />
			After each poll
		</label>
		<br/>
		<label>
			<input type="radio" name="responses-qs-{{questionSetId}}" ng-model="options.showResponseWhen" value="afterSet" />
			After each question set
		</label>
	</div>
</div>
