<div ng-controller="SetAddCtrl">
	<accordion-group>
		<accordion-heading>
		   	{{heading}}
   		</accordion-heading>
		<strong>Question set start time:</strong>
		<shorttimepicker ng-model="questionSetData.timeAppear" millisecond-step="10"></shorttimepicker>
		<accordion>
			<div ng-controller="SectionAddCtrl">
				<button type="button" class="btn btn-default" ng-click=addQuestion()>Add New Question</button>
				<div class="panel panel-default">
					<div class="panel panel-body">
						<div class="emptyMessage" ng-if="questions.length == 0">
							Add a question to customise it.
						</div>
						<question-block question-id={{question.questionId}} heading="{{question.name}}" type="{{question.type}}" ng-repeat="question in questions"></question-block>
					</div>	
				</div>
			</div>
		</accordion>
	</accordion-group>
</div>
