<div role="heading"><b>{{heading}}:</b></div>
<div class="checkbox" role="checkbox">
	<label>
		<input type="checkbox" ng-model="options.questionCanBeSkipped" />
		Allow the user to skip this question
	</label>
</div>

<div class="checkbox" role="checkbox">
	<label>
		<input type="checkbox" ng-model="options.recordResponses" />
		Record responses
	</label>
</div>

<div ng-show="options.recordResponses">
	Show aggregated results:
	<div class="radio">
		<label>
			<input type="radio" name="responses-qs-{{questionSetId}}" ng-model="options.showResponseWhen" value="afterEach" checked />
			immediately
		</label>
		<br/>
		<label>
			<input type="radio" name="responses-qs-{{questionSetId}}" ng-model="options.showResponseWhen" value="afterSet" />
			at the end of this question set
		</label>
	</div>
</div>
