<table>
	<tbody>
		<tr class="text-center">
			<td><a class="btn btn-link" title="Increment minutes" ng-click="incrementMinutes()"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
			<td>&nbsp;</td>
			<td><a class="btn btn-link" title="Increment seconds" ng-click="incrementSeconds()"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
			<td>&nbsp;</td>
			<td><a class="btn btn-link" title="Increment milliseconds" ng-click="incrementMilliseconds()"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
		</tr>
		<tr>
			<td style="width:50px;" class="form-group" ng-class="{'has-error': invalidMinutes}">
				<input class="form-control text-center" type="text" maxlength="2" title="Minutes"
				       ng-model="minutes" ng-change="updateMinutes()" ng-readonly="readonlyInput"> </td>
			<td>:</td>
			<td style="width:50px;" class="form-group" ng-class="{'has-error': invalidSeconds}">
				<input class="form-control text-center" type="text" maxlength="2" title="Seconds"
				       ng-model="seconds" ng-change="updateSeconds()" ng-readonly="readonlyInput">
			</td>
			<td>.</td>
			<td style="width:50px;" class="form-group" ng-class="{'has-error': invalidMilliseconds}">
				<input class="form-control text-center" type="text" maxlength="3" title="Milliseconds"
				       ng-model="milliseconds" ng-change="updateMilliseconds()" ng-readonly="readonlyInput">
			</td>
		</tr>
		<tr class="text-center">
			<td><a class="btn btn-link" title="Decrement minutes" ng-click="decrementMinutes()"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
			<td>&nbsp;</td>
			<td><a class="btn btn-link" title="Decrement seconds" ng-click="decrementSeconds()"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
			<td>&nbsp;</td>
			<td><a class="btn btn-link" title="Decrement milliseconds" ng-click="decrementMilliseconds()"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
		</tr>
	</tbody>
</table>
