<div class="panel panel-default" ng-controller="MultipleChoiceCtrl as answer">
	<div class="panel panel-body">
		<label for="newanswer">Add answer:</label>
		<div class="input-group">
			<input id="newanswer" class="form-control" type="text" placeholder="Enter new answer" ng-model="answerInput" ng-keydown="onAnswerBoxKeyDown($event)"/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click=addAnswer(answerInput)>Add</button>
			</span>
		</div>

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div ng-switch on="single">
					<div ng-switch-when="true">
						<select size="5" class="form-control" ng-model="answer.selected" ng-options="answer for answer in answerData.answers"> 
						</select>
					</div>
					<div ng-switch-default>
						<select multiple class="form-control" ng-model="answer.selected" ng-options="answer for answer in answerData.answers"> 
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<button class="btn btn-default" type="button" ng-click=moveAnswersUp(answer.selected)>Move selected up</button>
				<button class="btn btn-default" type="button" ng-click=moveAnswersDown(answer.selected)>Move selected down</button>
				<button class="btn btn-default" type="button" ng-click=removeAnswers(answer.selected)>Remove selected</button>
				<div ng-switch on="type">
					<div ng-switch-when="quiz">
						<div ng-switch on="single">
							<div ng-switch-when="true">
								<button class="btn btn-default" type="button" ng-click=setCorrect(answer.selected)>Set selected as correct answer</button>
							</div>
							<div ng-switch-default>
								<button class="btn btn-default" type="button" ng-click=setCorrect(answer.selected) tooltip-placement="bottom" tooltip="Press Ctrl and Click on the answers you wish to select">Set selected as correct answer</button>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div ng-switch on="type">
			<div ng-switch-when="quiz">
				<div ng-if="answerData.correct.length>0">
					<div ng-switch on="single">	
						<div ng-switch-when="true">
							<label>Correct answer: </label>
							<input type="text" disabled value="{{answerData.correct}}" />
						</div>
						<div ng-switch-default>
							<label>Correct answers: </label>
							<ul class="inlineList">
								<li ng-repeat="item in answerData.correct track by $index" value="{{item}}">{{item}}</li>
							</ul>
							<label for="mininput">Minimum number of answers selectable: </label> 
							<input type="number" name="mininput" ng-model="answerData.minanswers" min="1" max="{{answerData.correct.length}}" required ng-init="answerData.minanswers=1">
							<label for="maxinput">Maximum number of answers selectable:</label>
							<input type="number" name="maxinput" ng-model="answerData.maxanswers" min="{{answerData.minanswers}}" max="{{answerData.correct.length}}" required ng-init="answerData.maxanswers=1">
						</div>
					</div>
					<div class="checkbox" role="checkbox">
						<label>
							<input type="checkbox" ng-model="answerData.ifIncorrectReturnToTime" />
							If answered incorrectly return to
						</label>
					</div>
					<shorttimepicker ng-model="answerData.returnToTime" millisecond-step="10"></shorttimepicker>
				</div>
			</div>
		</div>
	</div>
</div>
