<div class="panel panel-default">
	<div class="panel panel-body">
		<form>
			<label>
				Minimum slider value:
				<input type="number" name="minvalue" ng-model="answerData.minvalue" value="1" required ng-init="0" />
			</label> <br />

			<label>
				Maximum slider value:
				<input type="number" name="maxvalue" ng-model="answerData.maxvalue" value="100" required ng-init="100" />
			</label><br />

			<label>
				Slider step value:
				<input type="number" name="stepvalue" ng-model="answerData.stepvalue" value="1" required ng-init="1" />
			</label>
		</form> 
	</div>
</div>
