<div class="panel panel-default">
	<div class="panel panel-body">
		<form>
			Example:
			<div class="btn-group">
				<button type="button" disabled="disabled" class="btn btn-default btn-sm"><span class= "glyphicon glyphicon-star"></span></button>
				<button type="button" disabled="disabled" class="btn btn-default btn-sm"><span class= "glyphicon glyphicon-star"></span></button>
				<button type="button" disabled="disabled" class="btn btn-default btn-sm"><span class= "glyphicon glyphicon-star"></span></button>
				<button type="button" disabled="disabled" class="btn btn-default btn-sm"><span class= "glyphicon glyphicon-star"></span></button>
				<button type="button" disabled="disabled" class="btn btn-default btn-sm"><span class= "glyphicon glyphicon-star"></span></button>
			</div>
			<br />
			<label>Minimum:
				<input type="number" name="mininput" ng-model="answerData.minvalue" required>
			</label>
			<label>Maximum:
				<input type="number" name="maxinput" ng-model="answerData.maxvalue" min="{{answerData.minvalue}}" required>
			</label>
		</form>
	</div>
</div>
